$primary-color: #a16d8b !default;
$second-color: #714c6a !default;
$third-color: #ffeafb !default;
$fourth-color: #ffd6f8 !default;
$gray-color: #f8f8f8 !default;
$font-stack: "Roboto", sans-serif !default;
$sm-screen: 576px !default;
$md-screen: 768px !default;
$lg-screen: 992px !default;
$xl-screen: 1200px !default;
$xxl-screen: 1400px !default;
$xxxl-screen: 1600px !default;
$sectionSpace: 6.25rem !default;
